<footer>
    <section>
        <a href="{{ path('app_main') }}"><img src="{{ asset('assets/images/symfblog_logo.svg') }}" alt="logo de symfblog">Symfblog</a>
    </section>
    <section>
        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
    </section>
</footer>